/* h1{
    color: blue;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 20%;
    background-color: blue;
}

html, body {
    width: 100%;
    height: 100%;
}

input{
    padding: 1%;
    margin: 1%;
    height: 15%;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: lightblue;
}


aside {
    height: 80%;
    width: 30%;
    background-color: lightblue;
}

hr {
    background-color: lightblue;
}

aside, main {
    float: left;
}

main {
    height: 80%;
    width: 70%;
    background-color: green;
}

nav {
    height: 10%;
    width: 100%;
    background-color: pink;
}

footer {
    height: 100%;
    width: 100%;
    background-color: blueviolet;
} */




* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    float: left;
    width: 80%;
    height: 50%;
    background-color: lightblue;
}

aside {
    float: left;
    width: 20%;
    height: 50%;
    background-color: brown;
}

