* {
    background-color: rgb(189, 223, 211);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
   text-align: center;
    background-color: rgb(112, 134, 127);
    color: white;
    padding: 10px 20px;
    margin-top: 100px; /* lo empuja hacia abajo */
    display: inline-block; /* hace que el fondo se ajuste al texto */
    border-radius: 10px; /* opcional: bordes redondeados */
}

#palabraOculta {
    text-align: center;
    background-color: rgb(112, 134, 127);
    width: 300px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin: 20px 0;
    color: white;
}
#palabraOculta::placeholder {
    color: white;
}

#comenzar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(112, 134, 127);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
