*{
    background-color:rgb(44, 65, 57);
}

header{
    text-align: center;
}

header h1{
    color: rgb(255, 255, 255);
    background-color: rgb(8, 14, 12);
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    letter-spacing: 20px; /* Ajusta el valor según lo que necesites */
}


.flotanteCabecera1{
    float: left;
    color: white;
    background-color: transparent;
  padding: 5px;
    border-radius: 8px;
}

#fallosPermitidos{
    background-color: rgb(8, 14, 12);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.flotanteCabecera2{
    float: right;
    color: white;
    background-color:transparent; 
    padding: 5px;
    border-radius: 8px;
}

.FloatanteCabecera3{
    float: center;
    color: white;
    background-color: transparent;
    padding: 5px;
    border-radius:8px ;
}

#inicioJuego{
    background-color: rgb(8, 14, 12);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        width: 200px;

}

#verPalabraOculta {
    background-color: rgb(8, 14, 12);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#mostrarPalabra{
    background-color: rgb(8, 14, 12);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#contadorFallos{
    background-color: rgb(8, 14, 12);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.CuerpoCentro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px; /* Espacio desde el botón INICIA JUEGO */
}

.CuerpoCentro input {
    margin-bottom: 5px; /* Espacio entre input y botón */
    width: 200px;        /* Igual ancho que el botón INICIA JUEGO */
}

#comprobarLetra {
    width: 200px;        /* Igual ancho que el botón INICIA JUEGO */
    background-color: rgb(8, 14, 12);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#tiempoRestanteTexto{
    color : white
}

#escribir{
      color : white  
}

#FallosDelUsuario{
    color: white;
}

#tituloJuegosAnteriores{
    color: white;
    text-align: center;
}